#root {
  width: 100vw;
  height: 100vh;
}

.App {
  width: 100vw;
  height: 100vh;
}

.App-nav {
  height: 5vh;
  width: inherit;
}

.App-content {
  height: 95vh;
  width: inherit;
  text-align: center;
  overflow: auto;
  background: url('images/start-background.jpg') no-repeat center center;
  background-size: cover;
}
